<!-- sss -->
<html>
    <head>
        <title><%= title%></title>
    </head>
    <body>
        <div class="">express+ejs+sqlite</div>
        <ul>
          <% articles.forEach(function(ele){%>
            <li><div><%= ele.title %></div><%= ele.content%></li>
          <% }) %>  
        </ul>
        
    </body>
</html>