<!-- 引入head模版 -->
<% include head %>
<ul>
    <% articles.forEach(article=>{ %>
    <li>
        <a href="/articles/<%= article.id %>">
            <% article.title %>
        </a>
    </li>
    <% }) %>
</ul>
<% include foot %>